html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    font-family: "Nobile", sans-serif;
    color: white;
}

body {
    background: linear-gradient(173.04deg, #000000 0%, #000118 25.55%, #010228 111.5%);
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-family: "Philosopher", "Nobile", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* NAVIGATION & HEADER */

nav {
    background: linear-gradient(95.71deg, #000000 14.01%, #000230 110.33%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2%
}

.nav-link {
    text-align: end;
    --bs-nav-link-color: white;
}

.hdr-logo {
    display: flex;
    width: 100%;
    padding: 2% 2%;

    .hdr-logo-text {
        padding: 0 2%;
    }

    h2, p {
        margin: 0;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        letter-spacing: 2px;
    }
}

.hdr-logo-text {
    padding-left: 1%;
}

.nav-link {
    text-align: end;
    --bs-nav-link-color: white;
}

#registrationNav {
    background: white;

    a {
        color: black;
        font-weight: bold;
    }

    a:hover, a:focus {
        color: rgb(14, 0, 77);
        font-weight: bolder;
        transition: transform .2s;
        transform: scale(1.05);
    }
}

.nav-link.active {
    --bs-navbar-active-color: #86acff;
    text-decoration: underline;
    font-weight: 500;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(192, 217, 255);
    font-weight: 500;
    transition: transform .2s;
    transform: scale(1.05);
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 500px) { 
    .hdr-logo-text {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.75rem;
            letter-spacing: 0;
        }
    }
}

/* HERO SECTION */

.hero {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0 8% 0;
}

.hero-content {
    padding: 10%;
}

.hero-design {
    color: #B7B7B7;
    font-size: 2rem;
    margin: 0;
}

.hero-text {
    h1 {
        font-size: 7.5rem;
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 1em;
    }

    h3 {
        letter-spacing: 2px;
    }

    .hero-desc {
        opacity: 60%;
    }
}

.spaced-container, .loc-container {
    padding-left: 1.2%;
}

.loc-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    height: 7rem;
    background: linear-gradient(91.2deg, rgba(0, 0, 22, 0.8) 1.46%, rgba(0, 0, 0, 0.8) 104.48%);
    margin-left: 1.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .loc {
        width: 100%;
    }

    .register {
        background: white;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5%;
        border-radius: 0 1rem 1rem 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        a {
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
        }
    }

    h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: 2px;
        padding-left: 3%;
    }
}

#heroDesign {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 1250px) {
    .hero-text {
        h1 {
            font-size: 7rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 960px) {
    .hero-design {
        font-size:  1.5rem;
    }

    .hero-text {
        h1 {
            font-size: 5rem;
        }
    }
    
    .loc-container {
        h3, .register a {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .hero-design {
        font-size:  1rem;
    }

    .hero-text {
        h1 {
            font-size: 3.5rem;
        }
    }
    
    .loc-container {
        h3, .register a {
            font-size: 0.9rem;
        }
    }
}

/* ABOUT THE CONFERENCE */
.about {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    text-align: center;
    align-items: center;
}

.section-header {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    font-weight: bold;
}

.section-subheading {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.section-logo {
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
}

.section-logo-img {
    padding-right: 1%;
    height: 24px;
}

.abt-article {
    padding: 5% 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-hdr {
    background: linear-gradient(95.74deg, #FFFFFF 76.29%, #999999 169.3%);
    color: black;
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
    
    h3 {
        margin: 0;
        padding: 2%;
    }
}

.article-hdr-text {
    font-weight: bold;
}

.article-content {
    text-align: justify;
}

.audience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.audience {
    padding: 5%;
}

.audience-desc {
    padding-top: 1rem;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 1550px) {
    .section-header {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1120px) {
    .section-header {
        max-width: 70%;
    }
}

@media only screen and (max-width: 780px) {
    .section-header {
        max-width: 80%;

        .section-heading {
            font-size: 3.5rem;
        }

        .section-subheading {
            font-size: 1.25rem;
        }
    }

    .article-hdr-text {
        font-size: 1.25em;
    }
}

.abt-article {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* KEY SPEAKERS */
.key-speakers {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    text-align: center;
    align-items: center;
    background: linear-gradient(163.87deg, #FFFFFF 11.22%, #E3E9FF 127.29%);
    width: 100%;

    .section-header {
        max-width: 50%;
    }

    .section-logo {
        margin: 0 0 5% 0;
        padding: 0;
    }

    h2, h3, h5, p {
        color: black;
    }
}

.speaker-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5%;
}

.speaker-card {
    max-width: 350px;
    background: linear-gradient(165.71deg, #000000 -10.53%, #000832 108.79%);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 6% 3% 2% 3%;
    margin: 5%;

    h3, h5, p {
        color: white;
    }
}

.speaker-name-text {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 10%;
    font-family: "Philosopher", sans-serif;
    font-weight: 600;
}

.speaker-title {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 200;
    padding-bottom: 10%;
}

.speaker-desc {
    font-size: 0.75rem;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 500px) {
    .speaker-title, .speaker-desc-text {
        justify-self: center;
        max-width: 80%;
    }
}

@media only screen and (max-width: 1120px) {
    .key-speakers .section-header {
        max-width: 70%;
    }
}

/* EVENT VENUE */
.venue {
    display: flex;
    flex-direction: column;
    padding: 10% 12%;
    text-align: center;
    align-items: center;
    background-image: url(assets/venue-bg.png);
    background-size: cover;

    .section-header {
        max-width: 70%;
    }
}

.venue-content {
    iframe {
        border-radius: 2em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 5%;
        width: 100%;
    }
}

.venue-img {
    padding: 1%;
    border-radius: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
}

.venue-hdr {
    margin-top: 5%;
    padding: 2% 0;
    background: linear-gradient(95.74deg, #FFFFFF 76.29%, #999999 169.3%);
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
}

.venue-hdr-text {
    color: black;
    padding: 2% 5%;

    h2 {
        font-weight: bold;
    }

    h5 {
        font-weight: 300;
        font-size: 1rem;
    }
}

.venue-exterior, .venue-interior {
    margin-top: 5%;
}

.venue-label {
    padding-top: 2%;
    letter-spacing: 2px;
}

.venue-desc, .venue-amenities {
    padding-top: 10%;
}

.venue-amenities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 1120px) {
    .venue .section-header {
        max-width: 70%;
    }
}

@media only screen and (max-width: 980px) {
    .venue .section-header {
        max-width: 90%;
    }
}

/* EVENT SCHEDULE */
.schedule {
    display: flex;
    flex-direction: column;
    padding: 10% 25%;
    text-align: center;
    align-items: center;

    .section-header {
        max-width: 70%;
    }
}

.dates-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
    margin: 5% 0 2% 0;

    p {
        padding: 0 5%;
        margin: 0;
    }
}

.schedule-desc p {
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 2%;
}

.schedule-item {
    display: flex;
    padding: 1% 0;
    align-items: center;
    width: 100%;
}

.schedule-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    text-align: start;

    p {
        text-align: justify;
        margin: 0;
    }

    h3 {
        font-family: "Philosopher", sans-serif;
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
    }
}

.schedule-time {
    text-align: end;
    padding-right: 5%;
    width: 80%;
}

.schedule-time h3 {
    font-size: 1.5rem;
}

.no-emphasis {
    font-weight: normal;
}

.schedule-highlight {
    font-weight: bold;
    color: #CBE3FF;
}

.schedule-name-desc {
    font-size: 0.9rem;
    color: #CBE3FF;
}

.schedule-speaker {
    color: #DCD0FF;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 2%;
}

.schedule-key {
    color: #001731;
    background: white;
    padding: 5%;
    border-radius: 0.5rem;
    opacity: 75%;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 1250px) {
    .schedule {
        padding: 5% 10%;
    }
}

@media only screen and (max-width: 800px) {
    .schedule-title {
        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

@media only screen and (max-width: 750px) {
    .schedule-item {
        display: flex;
        flex-direction: column;
        padding: 10% 5%;
        align-items: center;

        .schedule-name-desc {
            margin-top: 7%;
        }

        .schedule-time {
            padding: 0;
            width: 100%;
            text-align: start;

            h3 {
                font-size: 1.25rem;
                text-decoration: underline;
            }
    
            p {
                font-size: 0.7rem;
            }
        }
    }
}


/* REGISTER */
.call-to-action, .register-card {
    display: flex;
    justify-content: center;
}

#registration {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-card {
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5%;
    background: linear-gradient(128.07deg, #FFFFFF -5.71%, #DFDFDF 126.37%);
    border-radius: 1em;
    margin: 10%;
    
    h3, p {
        color: grey;
        margin: 0;
        padding-right: 20%;
    }

    p {
        padding-bottom: 3%;
    }

    button {
        color: white;
        background: linear-gradient(94.26deg, #000000 -10.61%, #130138 114.06%);
        box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
        letter-spacing: 5px;
        border-radius: 10px;
        padding: 3%;
        font-size: 2em;
        font-weight: bold;
        font-family: "Philosopher", sans-serif;
    }
}

@media only screen and (max-width: 600px) {
    .register-card {
        padding: 10%;
    }
}

/* FOOTER */

footer {
    padding: 15% 5% 5% 5%;
    background: linear-gradient(163.87deg, #FFFFFF 11.22%, #E3E9FF 127.29%);

    p {
        color: black;
    }
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

.social-label {
    padding-top: 5%;
}

.copyright-text {
    color: black;
}

.tnc a {
    color: #0c0044;
    font-weight: bold;
}

.tnc {
    display: flex;
    justify-content: center;
    padding: 5% 0 10% 0;
    text-decoration: underline;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
        padding-right: 1em;
        height: 100px;
    }

    p {
        margin: 0;
    }
}

.copyright-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .copyright {
        flex-direction: column;
        align-items: center;
    }

    .copyright-text {
        align-items: center;

        p {
            font-size: 0.8rem;
        }
    }
}